.partners-container {
	padding-top: 40px;
	background-color: #fff;
}

.partners-title {
	margin: 0 0 43px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	color: #000000;
	text-transform: uppercase;
}

.partners-links {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
}

.partners-link {
	display: inline-block;
	margin: 0 20px 32px;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.33;
	text-align: center;
	color: #000000;

	&:first-child {
		margin-left: 0;
	}
	&:last-child {
		margin-right: 0;
	}
}

.partners-block {
	padding: 60px 0 18px;
	border-bottom: solid 2px #d6d6d6;

	&:last-child {
		border-bottom: none;
	}
}