.steps {
	padding: 90px 0 0 0;
}

.steps-wrapper {
	display: flex;
	justify-content: space-between;
}

.step {
	width: 20%;
}

.step-value {
	margin: 0 0 10px;
	font-family: 'Poiret One', cursive;
	font-size: 72px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #a69e7b;
}

.step-label {
	height: 38px;
	margin: 0 0 10px;
	font-size: 14px;
	color: #000000;
}
.step-date {
	color: #a69e7b;
	font-weight: 800;
}