<h1 class="votes-title text-center">
  Голосуй за Мисс Туризм!
</h1>


<div class="votes-users">
  <%- @users.each do |user| %>
    <% cache user do %>
      <div class="votes-user">
        <%= render partial: "shared/anketa_mini", locals: {user: user}%>
      </div>
    <% end %>
  <% end %>
</div>
<%= paginate @users, params: {controller: 'users', action: 'votes'} %>