<div class="profile">
  <div class="container">

    <div class="profile-heding">
      <div>
        АНКЕТА УЧАСТНИЦЫ № <%= @user.number %>
      </div>
      <div>
        Конкурс Мисс Туризм Россия 2017
      </div>
    </div>

    <div class="profile-container">
      <div class="profile-photos-col">
        <%== render 'users/photos' %>
      </div>
      <div class="profile-info-col">
        <%== render 'users/userinfo' %>
      </div>
    </div>

  </div>
</div>

<%== render 'shared/organizator' %>