<h1 class="votes-title text-center">
  Голосуй за Мисс Туризм!
</h1>

<div class="sort-block">
  <!-- Single button -->

  <div class="sort-block-label">
    Сортировка:
  </div>

  <div class="sort-block-sorted">
    <%- if params[:votes] == "-1" %>
      <a href='?votes=1'>
        По количеству голосов
        <i class="fa fa-sort-amount-desc" aria-hidden="true"></i>
      </a>
    <% end %>
    <%- if params[:votes] == "1" %>
      <a href='?votes=-1'>
        По количеству голосов
        <i class="fa fa-sort-amount-asc" aria-hidden="true"></i>
      </a>
    <% end %>
    <%- unless params[:votes] %>
      <a href='?votes=-1'>
        По количеству голосов
        <i class="fa fa-sort-amount-asc" aria-hidden="true"></i>
      </a>
    <% end %>
  </div>

  <div class="sort-block-sorted">
    <%- if params[:create_date] == "-1" %>
      <a href='?create_date=1'>
        По дате подачи анкеты
        <i class="fa fa-sort-amount-desc" aria-hidden="true"></i>
      </a>
    <% end %>
    <%- if params[:create_date] == "1" %>
      <a href='?create_date=-1'>
        По дате подачи анкеты
        <i class="fa fa-sort-amount-asc" aria-hidden="true"></i>
      </a>
    <% end %>
    <%- unless params[:create_date] %>
      <a href='?create_date=1'>
        По дате подачи анкеты
        <i class="fa fa-sort-amount-desc" aria-hidden="true"></i>
      </a>
    <% end %>
  </div>

</div>

<div class="votes-users">
  <%- @users.each do |user| %>
    <div class="votes-user">
      <%= render partial: "shared/anketa_mini", locals: {user: user} %>
    </div>
  <% end %>
</div>
<%= paginate @users, params: {controller: 'users', action: 'votes'} %>
