<section class="organizator">
  <div>Организатор конкурса</div>
  <h2></h2>
</section>
<section class="partners">
  <div class="partners-title">
    Медиапартнеры
  </div>
  <div class="partners-links">
    <a
    class="partners-link"
    href="https://www.tourdom.ru/"
    target="_blank"
    >
      Турдом
    </a>
    <a
    class="partners-link"
    href="http://www.trn-news.ru/"
    target="_blank"
    >
      Travel Russian News
    </a>
    <a
    class="partners-link"
    href="http://www.trn-news.ru/"
    target="_blank"
    >
      Travel Startups
      <span>- сообщество тревел предпринимателей</span>
    </a>
    <span class="partners-link">
      Владельцы и руководители
      <br>
      туристического бизнеса
    </span>
    <a
    class="partners-link"
    href="https://sletat.ru/"
    target="_blank"
    >
      Sletat.ru
    </a>
  </div>
</section>