<div class="steps">
  <div class="home-subtitle home-subtitle-margin">
    Этапы конкурса
  </div>

  <div class="steps-wrapper">

    <div class="step">
      <div class="step-value">
        1
      </div>
      <div class="step-label">
        Подача анкет: до 1000 участников
      </div>
      <div class="step-date">
        с 15 сентября до 31 октября
      </div>
    </div>

    <div class="step">
      <div class="step-value">
        2
      </div>
      <div class="step-label">
        Отборочный тур: онлайн-голосование
      </div>
      <div class="step-date">
        1—5 ноября
      </div>
    </div>

    <div class="step">
      <div class="step-value">
        3
      </div>
      <div class="step-label">
        Подведение итогов
      </div>
      <div class="step-date">
        6 ноября
      </div>
    </div>

    <div class="step">
      <div class="step-value">
        4
      </div>
      <div class="step-label">
        Полуфинал
      </div>
      <div class="step-date">
        7 ноября
      </div>
    </div>

    <div class="step">
      <div class="step-value">
        5
      </div>
      <div class="step-label">
        Финал конкурса: голосование жюри
      </div>
      <div class="step-date">
        8-9 ноября
      </div>
    </div>

  </div>
</div>
