<div class="steps">
  <div class="home-subtitle home-subtitle-margin">
    Этапы конкурса
  </div>

  <div class="steps-wrapper">

    <div class="step">
      <div class="step-value">
        1
      </div>
      <div class="step-label">
        Подача анкет:
      </div>
      <div class="step-date">
        с 10 июля  до 10 августа
      </div>
    </div>

    <div class="step">
      <div class="step-value">
        2
      </div>
      <div class="step-label">
        Отборочный тур: онлайн-голосование
      </div>
      <div class="step-date">
        с 10 августа до 19 сентября
      </div>
    </div>

    <!--<div class="step">-->
      <!--<div class="step-value">-->
        <!--3-->
      <!--</div>-->
      <!--<div class="step-label">-->
        <!--Подведение итогов-->
      <!--</div>-->
      <!--<div class="step-date">-->
        <!--6 ноября-->
      <!--</div>-->
    <!--</div>-->

    <div class="step">
      <div class="step-value">
        3
      </div>
      <div class="step-label">
        Полуфинал
      </div>
      <div class="step-date">
        19 сентября
      </div>
    </div>

    <div class="step">
      <div class="step-value">
        4
      </div>
      <div class="step-label">
        Финал конкурса
      </div>
      <div class="step-date">
        17-20 октября
      </div>
    </div>

  </div>
</div>
