<div class="steps">
  <div class="home-subtitle home-subtitle-margin">
    Этапы конкурса
  </div>

  <div class="steps-wrapper">

    <div class="step">
      <div class="step-value">
        1
      </div>
      <div class="step-label">
        Регистрация участниц
      </div>
<!--      <div class="step-date step-date-under">-->
<!--        с 16 июля  до 30 июля -->
<!--      </div>-->
      <div class="step-date">
        с 16 июля  до
        <%=l REGISTRATION_END_DATE, format: :short_b %>
      </div>
      <div class="step-date">
        дополнительно открыта с 22 по 24 августа
      </div>
    </div>

    <div class="step">
      <div class="step-value">
        2
      </div>
      <div class="step-label">
        Онлайн голосвание
      </div>
      <div class="step-date">
        с 31 июля  до 4 сентября
      </div>
    </div>

    <!--<div class="step">-->
    <!--<div class="step-value">-->
    <!--3-->
    <!--</div>-->
    <!--<div class="step-label">-->
    <!--Подведение итогов-->
    <!--</div>-->
    <!--<div class="step-date">-->
    <!--6 ноября-->
    <!--</div>-->
    <!--</div>-->

    <div class="step">
      <div class="step-value">
        3
      </div>
      <div class="step-label">
        Полуфинал
      </div>
      <div class="step-date">
        25 сентября
      </div>
    </div>

    <div class="step">
      <div class="step-value">
        4
      </div>
      <div class="step-label">
        Финал конкурса
      </div>
      <div class="step-date">
        с 17 по 20 октября
      </div>
    </div>

  </div>
</div>
