<%- content_for :title do %>
  Генеральный партнер всероссийского конкурса красоты Мисс Туризм 2018 - Aldemar Resorts
<%- end %>
<%- content_for :description do %>
  Aldemar Resorts — одна из ведущих гостиничных сетей Греции, cемейный бизнес семьи Ангелопулос, в
  котром задействовано более 1300 сотрудников.
<%- end %>

<%= render partial: "shared/meta_og",
           locals:  {title: 'Генеральный партнер всероссийского конкурса красоты Мисс Туризм 2018 - Aldemar Resorts',
                     desc:  'Aldemar Resorts — одна из ведущих гостиничных сетей Греции, cемейный бизнес семьи Ангелопулос, в
  котром задействовано более 1300 сотрудников.',
                     photo: asset_pack_path('packs/img/gen-partner/gen-partner-2.jpg')
           }
%>


<div class="page-header">
  <h1>Aldemar Resorts
    <small>Генеральный партнер</small>
  </h1>
</div>

<p>
  Aldemar Resorts — одна из ведущих гостиничных сетей Греции, cемейный бизнес семьи Ангелопулос, в
  котром задействовано более 1300 сотрудников. Компания Aldemar Resorts хорошо известна за свои
  оригинальные тенденции и корпоративные практики в греческой гостиничной индустрии. Будучи
  сторонником инновационных продуктов и идей, Aldemar Resorts продолжает демонстрировать высокий
  уровень ответственности по отношению к людям, окружающей среде и обществу в целом. Результат
  30-летнего опыта на греческом и международном рынках дает заслуженное право семье Ангелопулос
  гордиться своими успехами и репутацией, ведь Aldemar Resorts — одна из самых успешных компаний
  отельной отрасли.
</p>

<p>
  Восемь курортов и два центра талассотерапии под брендом Aldemar Resorts расположены в трех главных
  туристических направлениях Греции: Крит, Родос и Пелопоннеса.
</p>

<h3>Крит</h3>

<ul>
  <li>Royal Mare*****</li>
  <li>Knossos Royal*****</li>
  <li>Knossos Villas*****</li>
  <li>Cretan Village****</li>
</ul>

<h3>Родос</h3>

<ul>
  <li>Amilia Mare*****</li>
  <li>Paradise Village*****</li>
</ul>

<h3>Олимпия</h3>

<ul>
  <li>Olympian Village*****</li>
  <li>Royal Olympian *****</li>
</ul>

<%= render partial: 'shared/gen_partner', cached: true %>