<h1 class="home-title">
  <div class="home-title-slogan">
    Конкурс красоты сотрудников туриндустрии
  </div>
  <div class="home-title-text">
    Мисс Туризм Россия 2017
  </div>
</h1>

<div class="home-about">
  О КОНКУРСЕ
</div>