.about-row {
	display: flex;
	align-items: center;

	margin-bottom: 32px;

	@media (max-width: 768px) {
		flex-direction: column;
	}
}

.about-row-left,
.about-row-right {
	flex-grow: 1000;
	flex-basis: 50%;

	@media (max-width: 768px) {
		padding: 0 32px;
		text-align: center;
	}
	@media (max-width: 480px) {
		padding: 0;
	}
}

.about-row-right {
	margin-left: 32px;

	@media (max-width: 768px) {
		margin-left: 0;
	}
}

.about-row-left_2 {
	order: 2;
}

.about-row-right_2 {
	order: 1;
}

.about-text {
	font-family: 'Lato';
	font-weight: 300;
	line-height: 1.4;

	@media (max-width: 768px) {
		text-align: center;
	}
}

.about-text_1 {
	margin-bottom: 50px;
	text-align: center;
	font-size: 28px;
	color: #000000;

	@media (max-width: 768px) {
		margin-bottom: 32px;
		padding: 0 32px;
		font-size: 22px;
	}
	@media (max-width: 480px) {
		padding: 0;
		font-size: 20px;
	}
}

.about-text_2 {
	font-family: 'PT Sans';
	font-weight: normal;
	margin-bottom: 32px;
	font-size: 20px;

	@media (max-width: 480px) {
		font-size: 18px;
	}
}

.about-text_3 {
	font-family: 'PT Sans';
	font-weight: normal;
	font-size: 20px;
	text-align: right;

	@media (max-width: 768px) {
		text-align: center;
	}

	@media (max-width: 480px) {
		font-size: 18px;
	}
}

.about-text_4 {
	font-size: 24px;
	text-align: center;

	@media (max-width: 768px) {
		font-size: 20px;
	}
}
