.counters-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0 0 100px;
	background-color: #fff;

	@media (max-width: 1200px) {
		justify-content: center;
	}
}

.counter {
	width: 300px;
	margin: 20px 0 0;
	white-space: nowrap;
}

.counter-item {
	font-family: 'Poiret One', cursive;
	font-size: 72px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #a69e7b;
}

.counter-label {
	width: 300px;
	height: 22px;
	font-family: Lato;
	font-size: 18px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 1px;
	text-align: center;
	color: #000000;
	text-transform: uppercase;
}
