.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 90px;
	padding: 36px 0;
	background-color: #000000;
}
.copyright {
	font-size: 16px;
	letter-spacing: 0.9px;
	text-align: right;
	color: #ffffff;
}