.gallery {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 0 -8px;
	border-bottom: 2px solid rgba(0, 0, 0, .1);
}

.gallery-item {
	position: relative;
	width: calc((100% / 5) - 16px);
	margin: 0 8px 8px;
	cursor: pointer;

	&:before {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 2;
		background-color: rgba(0, 0, 0, .05);
	}

	@media (max-width: 960px) {
		width: calc(100% / 4);
	}
	@media (max-width: 768px) {
		width: calc(100% / 3);
	}
	@media (max-width: 480px) {
		width: calc(100% / 2);
	}
}

.gallery-item-zoom {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 4;
	opacity: 0;
	margin-left: -15px;
	margin-top: -15px;
	color: #fff;
	transition: all 200ms ease-in-out;
}

.gallery-item {
	&:hover {
		.gallery-item-zoom {
			opacity: 1;
		}
	}
}
