.home-title {
	margin: 40px 0 100px;
	text-align: center;
}

.home-title-slogan {
	font-size: 32px;
	text-align: center;
	color: #000000;
}

.home-title-text {
	font-family: 'Roboto Slab';
	font-size: 50px;
	font-weight: bold;
}

.home-subtitle {
	margin: 0 0 32px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	color: #000000;
	text-transform: uppercase;
}

.heroes{
	margin: 0 0 137px;
}
.heroes-item {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 0 55px;

	&:last-child{
		margin: 0;
	}
}

.heroes-item-icon {
	margin-right: 32px;
}

.heroes-item-text {
	max-width: 870px;
	font-size: 18px;
	text-align: left;
	color: #000000;
}