.home-title {
	margin: 40px 0 100px;
	text-align: center;
}

.home-title-slogan {
	font-size: 32px;
	text-align: center;
	color: #000000;
}

.home-title-text {
	font-family: 'Roboto Slab';
	font-size: 50px;
	font-weight: bold;
}

.home-about {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	color: #000000;
}