.order-lead {
	font-family: 'Lato';
	font-size: 20px;
	font-weight: 300;
	line-height: 1.4;
}

.order-tabs {
	margin: 48px 0;
}

.order-tabsTitle {
	margin: 0 0 24px;
	font-size: 24px;
	font-weight: 300;
	line-height: 1.21;
}

.order-tabsTabBody {
	padding: 16px 0 0 0;

	ul {
		margin: 0 0 24px;
		padding: 0 0 0 16px;
	}
}

.orders_personal_data {
	display: inline-block;
	margin: 0;
}

.order-formAction {
	margin: 16px 0;
	text-align: center;
}