.general-partner {
	display: block;
	height: 545px;
	margin: 0;
	background-image: url('img/banner@2x.jpg');
	background-size: cover;
	background-position: center;
}

.partners {
	padding: 32px 0;
	background-color: #fafafa;
}
.partners_1{
	padding: 100px 0;
	background-color: #fff;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}

.partners-title {
	margin: 0 0 43px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	color: #000000;
	text-transform: uppercase;
}

.partners-links {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
}

.partners-link {
	display: inline-block;
	margin: 0 24px;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.33;
	text-align: center;
	color: #000000;
}