.general-partner {
	display: block;
	height: 715px;
	box-sizing: border-box;
	margin: 0;
	padding: 50px 0 0 0;
	background-image: url('img/banner.jpg');
	background-size: cover;
	background-position: center;
	text-decoration: none !important;
	color: #ffffff !important;
	text-align: center;

	@media (max-width: 1400px) {
		height: 600px;
	}
	@media (max-width: 1280px) {
		height: 600px;
	}
	@media (max-width: 1024px) {
		height: 480px;
	}
	@media (max-width: 768px) {
		height: 380px;
	}
	@media (max-width: 570px) {
		height: 300px;
	}
}

.general-partner-title {
	margin: 0 0 180px;
	font-family: 'Roboto Slab';
	font-size: 57px;
	font-weight: bold;
	text-shadow: 0 5px 9px rgba(0, 0, 0, 0.5);

	@media (max-width: 1024px) {
		margin: 0 0 130px;
	}
	@media (max-width: 768px) {
		margin: 0 0 80px;
		font-size: 47px;
	}
	@media (max-width: 570px) {
		margin: 0 0 80px;
		font-size: 28px;
	}
}

.general-partner-logo {
	display: inline-block;
	width: 395px;
	height: 112px;
	background: url('img/logo-rixos.svg');
	background-size: cover;
	background-position: center;

	@media (max-width: 570px) {
		width: 280px;
		height: 90px;
	}
}
.general-partner-container{
	background: #fff;
}
.general-partner-mini {
	height: 180px;
	padding: 40px 0 0;
	background-image: url('img/banner-rixos.png');
	background-size: cover;
	background-position: center;
}

.partners-container {
	padding-top: 40px;
	padding-bottom: 50px;
	background-color: #fff;
}

.partners-title {
	margin: 0 0 43px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	color: #000000;
	text-transform: uppercase;
}

.partners-links {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
}

.partners-link {
	display: inline-block;
	margin: 0 20px 32px;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.33;
	text-align: center;
	color: #000000;

	&:first-child {
		margin-left: 0;
	}
	&:last-child {
		margin-right: 0;
	}
}



.partners-block{
	padding: 60px 0 18px;
	border-bottom: solid 2px #d6d6d6;

	&:last-child{
		border-bottom: none;
	}
}