.organizator {

}

.partners {
	padding: 32px 0;
	background-color: #fafafa;
}
.partners_1{
	background-color: #fff;
}

.partners-title {
	margin: 0 0 43px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	color: #000000;
	text-transform: uppercase;
}

.partners-links {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.partners-link {
	display: inline-block;
	margin: 0 24px;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.33;
	text-align: center;
	color: #000000;
}