@import "vars";

.profile {
	margin: 0;
}

.profile-heding {
	display: flex;
	justify-content: space-between;
	margin: 32px 0 45px;
	font-size: 20px;
	text-align: left;
	color: #000000;
}

.profile-container {
	display: flex;
}

.profile-photos-col {
	margin-right: 20px;
}

.profile-p {
	margin: 8px 0;
}

.profile-created {
	display: flex;
	justify-content: space-between;
	margin: 0 0 16px;
}

.profile-created-data {

}

.profile-edit-link {
	display: flex;
	align-items: center;
	color: $text-color;
	text-decoration: none !important;
}

.profile-edit-link__label {
	margin-right: 6px;
	font-size: 14px;
	border-bottom: 1px dashed;
}

.profile-edit-link__icon {
	font-size: 17px;
}

.profile-job {
	margin: 0 0 40px;
}

.profile-label {
	margin: 0 0 8px;
	font-size: 14px;
	color: #909090;
}

.profile-job-title {
	margin: 0 0 16px;
}

.profile-organization {
	display: inline-block;
	margin-right: 10px;
	font-family: $font-family-sans-serif;
	font-size: 22px;
	font-weight: bold;
	color: $text-color;
}

.profile-organization_link {
	text-decoration: none !important;
	border-bottom: 1px dashed;
}

.profile-info {
	display: flex;
}

.profile-info-item {
	margin-right: 100px;
}

.profile-title {
	margin: 0 0 16px;
	font-family: $font-family-sans-serif;
	font-size: 36px;
	font-weight: bold;
	text-align: left;
	color: #000000;
}

.profile-photos {
	display: flex;
	margin: 0 0 24px;
}

.profile-photo-root {
	box-sizing: border-box;
	position: relative;
	box-sizing: border-box;
	width: 450px;
	border-radius: 4px;
	border: 4px solid #ffcc00;

	&:before {
		content: '';
		position: absolute;
		z-index: 1;
		display: block;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(0, 0, 0, .25);
	}

	img {
		border-radius: 1px;
	}
}

.profile-photo-root-info {
	position: absolute;
	z-index: 2;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 10px 15px;
	color: #fff;
	font-size: 14px;
	background-color: rgba(0, 0, 0, .37);
}

.profile-photos-thumb {
	margin-left: 4px;
}

.profile-photo {
	position: relative;
	box-sizing: border-box;
	width: 148px;
	margin: 0 0 3px;
	border-radius: 4px;

	&:last-child {
		margin: 0;
	}

	&:before {
		content: '';
		position: absolute;
		z-index: 1;
		display: block;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(0, 0, 0, .25);
		border-radius: 4px;
	}

	img {
		border-radius: 4px;
	}
}

.profile-photo-actions {
	position: absolute;
	right: 6px;
	top: 6px;
	z-index: 2000;
	display: flex;
	justify-content: flex-end;

	.btn {
		position: relative;
		margin-left: 6px;
	}
}

.profile-photo-delete-icon {
	color: red;
}

.profile-photo-btn-root-icon {
	color: $brand-success;
}

.profile-social {
	margin: 100px 0 0;

	.b-sign-in-buttons{
		padding: 0;
	}
}

.profile-social-title {
	font-size: 20px;
	text-align: center;
	color: #000000;
	margin: 0 0 28px;
}