.steps {
	padding: 90px 0 0 0;
}

.steps-wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	@media (max-width: 768px) {
		justify-content: center;
	}

	@media (max-width: 480px) {
		flex-direction: column;
	}
}

.step {
	white-space: nowrap;

	@media (max-width: 768px) {
		margin: 0 16px 32px;
	}
}

.step-value {
	margin: 0 0 10px;
	font-family: 'Poiret One', cursive;
	font-size: 72px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #a69e7b;
	text-align: center;
}

.step-label {
	//height: 38px;
	margin: 0 0 10px;
	font-size: 14px;
	color: #000000;
	text-align: center;
}

.step-date {
	color: #a69e7b;
	font-weight: 800;
	text-align: center;
}