.usersGridTitle {
	margin: 0;
	padding: 32px 0;
	background-color: #fff;
}

.usersGrid {
	position: relative;
	max-width: 1400px;
	margin: 0 auto;
	padding-top: 84%;
	font-size: 0;
	line-height: 0;
	vertical-align: top;

	@media (max-width: 768px) {
		display: none;
	}
	@media (min-width: 1400px) {
		padding-top: 1176px;
	}

	&:before,
	&:after {
		content: " "; // 1
		display: table; // 2
	}
	&:after {
		clear: both;
	}
}

.usersGrid-photo {
	position: absolute;
	display: block;
	vertical-align: top;
	background-position: 50% 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #333;

	&:nth-child(1) {
		left: 0;
		top: 0;
		width: 37%;
		padding-top: 42%;
	}
	&:nth-child(2) {
		left: 37%;
		top: 0;
		width: 34%;
		padding-top: 22%;
	}
	&:nth-child(3) {
		right: 0;
		top: 0;
		width: 29%;
		padding-top: 22%;
	}
	&:nth-child(4) {
		left: 37%;
		top: 0;
		margin-top: 22%;
		width: 29%;
		padding-top: 20%;
	}
	&:nth-child(5) {
		right: 0;
		top: 0;
		margin-top: 22%;
		width: 34%;
		padding-top: 20%;
	}
	&:nth-child(6) {
		left: 0;
		top: 0;
		margin-top: 42%;
		width: 34%;
		padding-top: 20%;
	}
	&:nth-child(7) {
		left: 34%;
		top: 0;
		margin-top: 42%;
		width: 29%;
		padding-top: 20%;
	}
	&:nth-child(8) {
		right: 0;
		top: 0;
		margin-top: 42%;
		width: 37%;
		padding-top: 42%;
	}
	&:nth-child(9) {
		left: 0;
		bottom: 0;
		width: 29%;
		padding-top: 22%;
	}
	&:nth-child(10) {
		left: 29%;
		bottom: 0;
		width: 34%;
		padding-top: 22%;
	}

	@media (max-width: 768px) {
		position: relative;
	}
}

.usersGrid-photoLink{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
	text-decoration: none;
	font-size: 0;
}

.usersGrid-photo.votesList{
	position: relative;
	width: 100%;
	padding-top: 140%;

	.usersGrid-bar {
		opacity: 1;
	}
}

.usersGrid-gallery {
	display: none !important;

	@media (max-width: 768px) {
		display: block !important;
	}

	.usersGrid-photo {
		float: none;
		margin: 0 auto;
		width: 85%;
		padding-top: 100%;

		@media (max-width: 480px) {
			width: 100%;
			padding-top: 120%;
		}
	}
}

.usersGrid-photo {
	&:hover {
		.usersGrid-number{
			opacity: 1;
			transition: opacity 300ms ease;
			will-change: opacity;
		}
		.usersGrid-bar {
			opacity: 1;
			transition: opacity 300ms ease;
			will-change: opacity;
		}
	}
}

.usersGrid-number {
	position: absolute;
	left: 20px;
	top: 10px;
	font-family: 'Poiret One', cursive;
	font-size: 72px;
	line-height: 84px;
	color: #ffffff;
	opacity: 0;
}

.usersGrid-bar {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;

	display: flex;

	opacity: 0;

	background-color: #a69e7b;
	line-height: 1.35;
	color: #fff;
	text-align: center;
}

.usersGrid-userInfo {
	display: block;
	flex-grow: 50;
	padding: 16px 8px;
	color: #fff !important;
	text-decoration: none !important;
}

.usersGrid-bar-title {
	margin: 0 0 8px;
	font-size: 16px;
	font-weight: bold;
}

.usersGrid-bar-info {
	font-size: 14px;
}

.usersGrid-action {
	margin: 32px 0;
	text-align: center;
}

.usersGrid-userVotes {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;
	width: 100px;
	background-color: #2c4493;
}

.usersGrid-voteAction{
	margin: 0 0 8px;
}

.usersGrid-countVotes {
	font-family: 'PT Sans';
	font-size: 14px;
	text-align: center;
	color: #ffffff;
}

.usersGrid-voteActionBtn{
	display: inline-block;
	padding: 0;
	margin: 0;
	outline: none;
	border: none;
	background: none;
}