$font-family-sans-serif: 'Lucida Grande', sans-serif;
$font-family-serif: 'Roboto Slab', serif;

$container-large-desktop: 1230px;

$border-radius-base: 4px;
$btn-border-radius-large: 30px;

$navbar-height: 90px;
$navbar-inverse-bg: rgba(0, 0, 0, .6);
$navbar-inverse-link-color: #fff;
$navbar-inverse-link-hover-color: #ffcc00;

$text-color: #000000;
$text-muted: #666666;
$link-color: #0054b9;
$link-hover-color: lighten($link-color, 15%) !default;
$font-size-base: 16px;


$brand-success:         #5cb85c !default;