$font-family-sans-serif: 'Lucida Grande', sans-serif;
$font-family-serif: 'Roboto Slab', serif;

$container-large-desktop: 1230px;

$border-radius-base: 4px;
$btn-border-radius-large: 30px;

$padding-large-vertical: 12px !default;
$padding-large-horizontal: 32px !default;

$padding-small-vertical: 5px !default;
$padding-small-horizontal: 12px !default;

$padding-xs-vertical: 1px !default;
$padding-xs-horizontal: 6px !default;

$navbar-height: 90px;
$navbar-inverse-bg: rgba(0, 0, 0, .6);
$navbar-inverse-link-color: #fff;
$navbar-inverse-link-hover-color: #ffcc00;
$navbar-inverse-link-active-bg: transparent;

$text-color: #000000;
$text-muted: #666666;
$link-color: #0054b9;
$link-hover-color: lighten($link-color, 15%) !default;
$font-size-base: 16px;
$font-size-small: 16px;

$brand-success:         #5cb85c !default;

$btn-success-bg: #ffcc00 !default;
$btn-success-color: #000000 !default;