@import "vars";
@import "fonts";
//@import "~bootstrap-sass/assets/stylesheets/bootstrap";
//@import "font-awesome";
@import "logo";
@import "header";
@import "profile";
@import "footer";
@import "home";
@import "votes";
@import "counters";
@import "steps";
@import "jury";
@import "gen_partner";
@import "partners";
@import "owl/assets/owl.carousel";
@import "owl";
@import 'lightgallery/lightgallery/dist/css/lightgallery';
@import 'lightgallery/lightgallery/dist/css/lg-transitions';

.alert {
	margin: 15px 0;
}

body {
	position: relative;
	min-height: 100vh;
	padding: 0;
	background-color: #f5eade;
}

.wrapper {
	//@include clearfix;
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 30px;
	padding-right: 30px;

	@media (max-width: 960px) {
		padding-left: 10px;
		padding-right: 10px;
	}
}

.container-body {
	padding: 32px 0;
}

.content-container {
	margin-bottom: 30px;
	padding-bottom: 40px;
	background-color: #fff;
}

abbr[title], abbr[data-original-title] {
	border: none;
	text-decoration: none;
}

.users-list {
	margin: 16px 0;

	form {
		margin-top: 8px;
	}
}

.is_bot {
	padding: 8px 0;
	background-color: rgba(255, 0, 0, 0.1);
}