@import "vars";
@import "fonts/stylesheet";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~font-awesome/scss/font-awesome";

@import "header";
@import "profile";
@import "footer";

.alert{
	margin: 15px 0;
}
body {
	position: relative;
	min-height: 100vh;
	padding: 0 0 90px;
}
