server_tokens off;
upstream mysite {
  server unix://{{ app_path }}/shared/tmp/sockets/puma.sock fail_timeout=0;
}


server {
    listen 80 default_server;
    server_name {{ domain_name }};
    rewrite ^ https://{{ domain_name }}$request_uri? permanent;
}