<div class="container" style="padding: 50px 0">
  <div class="row">
    <%- @users.each do |user| %>
      <%- root_photo = user.photos.present? ? user.photos.find_by(root: true) : nil %>
      <div class="col-md-4">
        <%= render partial: "shared/anketa_mini",
                   locals: {user: user,
                            photo: root_photo,
                   }
        %>
      </div>
    <% end %>
  </div>
  <%= paginate @users %>
</div>
