<div class="container content-container" style="padding: 20px 20px 100px">
  <h1 class="votes-title text-center">
    Голосуй за Мисс Туризм!
  </h1>

  <div class="votes-users">
    <%- @users.each do |user| %>
      <%- root_photo = user.photos.present? ? user.photos.find_by(root: true) : nil %>
      <div class="votes-user">
        <%= render partial: "shared/anketa_mini",
                   locals: {user: user,
                            photo: root_photo,
                   }
        %>
      </div>
    <% end %>
  </div>
  <%= paginate @users %>
</div>
