<div class="footer">
  <div class="container">
    <div class="container-footer">

      <a href="http://ukab.ru/" target="_blank" class="pravo">
          <span class="pravo-label">
            Правовая поддержка
          </span>
        <%= image_tag asset_pack_path 'logo-bayborodina.svg' %>
      </a>

      <div class="copyright">
        По вопросам участия в конкурсе и партнерства пишите на
        <a href="mailto:privet@missturizm.ru">privet@missturizm.ru</a>
      </div>

    </div>
  </div>
</div>