<div class="footer">
  <div class="wrapper">
    <div class="container-footer">

      <div class="footer-logo">
        <%= render 'shared/logo' %>
      </div>

      <div>
        <%= render 'layouts/footer_nav' %>

        <div class="footer-contacts">

          <div class="footer-contact">
            <div class="footer-contact-title">
              По вопросам участия в
              <br>
              конкурсе и партнерства
              <br>
              пишите на
            </div>
            <a class="footer-contacts-link" href="mailto:privet@missturizm.ru">privet@missturizm.ru</a>
          </div>

          <div class="footer-contact">
            <div class="footer-contact-title">
              Мы в социальных сетях
            </div>
            <a class="footer-contacts-link" href="https://www.facebook.com/MissTurizm.ru/" target="_blank">
              <%= image_tag(asset_pack_path('packs/img/icon-fb.svg'), size: "40x40") %>
            </a>
            <a class="footer-contacts-link" href="https://vk.com/missmissistourism" target="_blank">
              <%= image_tag(asset_pack_path('packs/img/icon-vk.svg'), size: "40x40") %>
            </a>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>