<div class="footer">
  <div class="container">
    <div class="container-footer">

      <div class="social-pages">
        <span class="social-pages-label">
          МЫ В СОЦИАЛЬНЫХ СЕТЯХ
        </span>
        <a class="social-pages-btn" href="https://www.facebook.com/MissTurizm.ru/" target="_blank">
          <%= image_tag(asset_pack_path('icon-bf@2x.png'), size: "40x40") %>
        </a>
      </div>

      <div class="copyright">
        По вопросам участия в конкурсе и партнерства пишите на
        <a href="mailto:privet@missturizm.ru">privet@missturizm.ru</a>
      </div>

    </div>
  </div>
</div>