<div id="fb-root"></div>
<script>
  $(document).ready(function() {

    <%- if Rails.env.development? %>
    var appId = '1716823038621169';
    var href = 'https://developers.facebook.com/docs/';
    <% end %>
    <%- if Rails.env.production? %>
    var appId = '1730712020557436';
    var href = '<%= request.base_url + request.original_fullpath %>';
    <% end %>

    $.ajaxSetup({ cache: true });
    $.getScript('//connect.facebook.net/ru_RU/sdk.js', function() {
      FB.init({
        appId: appId,
        autoLogAppEvents: true,
        xfbml: 1,
        version: 'v2.10',
      });
    });

    var fbShared = $('.btn-shared_fb');


    'https://www.facebook.com/dialog/share?app_id={app_id}&display=page&href={url}&redirect_uri={redirect_url}';
    fbShared.on('click', function() {
      FB.ui({
        //        method: 'share',
        //        mobile_iframe: true,
        //        href: href,
        method: 'share_open_graph',
        action_type: 'og.likes',
        action_properties: JSON.stringify({
          object: href,
        }),
      }, function(response) {
        // Debug response (optional)
        console.log('fb share callback');
        console.log(response);

        FB.api(
            '/',
            {
              'id': href,
            },
            function(response) {
              console.log('FB.api');
              console.log(response);
              if (response && !response.error) {
                console.log(response);
              }
            },
        );
      });
    });
  });

  //    FB.ui({
  //      method: 'like',
  //      action_type: 'og.likes',
  //      href: "http://127.0.0.1:4000",
  //      action_properties: JSON.stringify({
  //        object:'http://127.0.0.1:4000',
  //      })
  //    }, function(response){
  //      // Debug response (optional)
  //      console.log(response);
  //    });
</script>
